<section>
    <h1 class="text-center">Menu Charts</h1>

    <div class="d-flex justify-content-end">
        <a routerLink="/snacks" class="btn btn-outline-info">
            <i class="far fa-list-alt"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-3">
            <div class="form-group">
                <label>Chart type</label>
                <select [(ngModel)]="chartType" class="form-control" (change)="loadChart()">
                    <option value="pie">Pie</option>
                    <option value="column">Column</option>
                </select>
            </div>
            <div class="form-group" *ngIf="chartType == 'column'">
                <select [(ngModel)]="chartCategory" class="form-control" (change)="loadChart()">
                    <option value="types">Snack Types</option>
                    <option value="prices">Snack Prices</option>
                </select>
            </div>
        </div>

        <div class="col-sm">
            <div [chart]="chart" *ngIf="chart"></div>
        </div>
    </div>

</section>